In [1]:
# map, apply, applymap関数
# Series
"""
Series.map()
Series.array()
"""
import pandas as pd

d = pd.Series([1, 3, 5, 10], index=['A', 'B', 'C', 'D'])
print(d)

A     1
B     3
C     5
D    10
dtype: int64

In [2]:
d_plus2_apply = d.apply(lambda x: x + 2)
print(d_plus2_apply)

A     3
B     5
C     7
D    12
dtype: int64

In [3]:
print(d.map(lambda x: x * 2))

A     2
B     6
C    10
D    20
dtype: int64

In [4]:
d_DataFrame = d.apply(lambda x: pd.Series([x, x * 2], index=['col1', 'col2']))
print(d_DataFrame)

   col1  col2
A     1     2
B     3     6
C     5    10
D    10    20

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
        '役割' : ['営業', 'エンジニア', '営業', 'エンジニア'],
        '体重' : [65, 60, 55, 72],
        '身長' : [178, 173, 169, 183]
    })

#このデータを名前によってグループ分けします
grouped = df.groupby('役割')

#グループごとの平均値を求めます
print(grouped.apply(np.mean))

         体重     身長
役割
エンジニア  66.0  178.0
営業     60.0  173.5

In [13]:
# 階層型インデックス
"""
DataFrameなどで、複数の列をインデックスとして持たせる機能
階層型インデックスが必要なデータの特徴
- ユニークな列がなく、どれが実測値かわからないデータ
- いくつかのインデックスを指定して、初めて実測値が定まる
"""
import pandas as pd
import numpy as np

df1 = pd.read_csv('company.csv')
print(df1)

  company  year president  visitors  pruductA  productB
0  cosme1  2014     James       128     15020     39523
1  cosme1  2015       Tom       102     16102     44127
2  cosme1  2016       Tom       101     15983     48016
3  cosme1  2017     James       116     17240     50974
4  cosme2  2014    Sherry        90     13205     38309
5  cosme2  2015     James       136     14276     42160
6  cosme2  2016    Sherry       101     13198     36756
7  cosme2  2017       Bob       120     16530     38455

In [14]:
print(df1[(df1['company'] == 'cosme1') & (df1['president'] == 'Tom') & (df1['visitors'] == 101)])

  company  year president  visitors  pruductA  productB
2  cosme1  2016       Tom       101     15983     48016

In [15]:
multi_index = pd.read_csv('company.csv', index_col=['company', 'year', 'president'])
print(multi_index)

                        visitors  pruductA  productB
company year president
cosme1  2014 James           128     15020     39523
        2015 Tom             102     16102     44127
        2016 Tom             101     15983     48016
        2017 James           116     17240     50974
cosme2  2014 Sherry           90     13205     38309
        2015 James           136     14276     42160
        2016 Sherry          101     13198     36756
        2017 Bob             120     16530     38455

In [18]:
print(multi_index.loc[('cosme1', 2015, 'Tom')])

visitors      102
pruductA    16102
productB    44127
Name: (cosme1, 2015, Tom), dtype: int64

In [19]:
print(multi_index.loc[('cosme1')])

                visitors  pruductA  productB
year president
2014 James           128     15020     39523
2015 Tom             102     16102     44127
2016 Tom             101     15983     48016
2017 James           116     17240     50974

In [22]:
print(multi_index.loc[('cosme1', 2015)])

           visitors  pruductA  productB
president
Tom             102     16102     44127

In [23]:
multi_index.to_csv('multi_index.csv')

In [24]:
print(pd.read_csv('multi_index.csv'))

  company  year president  visitors  pruductA  productB
0  cosme1  2014     James       128     15020     39523
1  cosme1  2015       Tom       102     16102     44127
2  cosme1  2016       Tom       101     15983     48016
3  cosme1  2017     James       116     17240     50974
4  cosme2  2014    Sherry        90     13205     38309
5  cosme2  2015     James       136     14276     42160
6  cosme2  2016    Sherry       101     13198     36756
7  cosme2  2017       Bob       120     16530     38455

In [25]:
# データフレームの列追加
import numpy as np
import pandas as pd

df2 = pd.read_csv('multi_index.csv', index_col=['company', 'year', 'president'])
print(df2)

                        visitors  pruductA  productB
company year president
cosme1  2014 James           128     15020     39523
        2015 Tom             102     16102     44127
        2016 Tom             101     15983     48016
        2017 James           116     17240     50974
cosme2  2014 Sherry           90     13205     38309
        2015 James           136     14276     42160
        2016 Sherry          101     13198     36756
        2017 Bob             120     16530     38455

In [27]:
df2['area'] = np.array(['Tokyo','Tokyo','Tokyo','Tokyo','Osaka','Osaka','Osaka','Osaka'])
print(df2)

                        visitors  pruductA  productB   area
company year president
cosme1  2014 James           128     15020     39523  Tokyo
        2015 Tom             102     16102     44127  Tokyo
        2016 Tom             101     15983     48016  Tokyo
        2017 James           116     17240     50974  Tokyo
cosme2  2014 Sherry           90     13205     38309  Osaka
        2015 James           136     14276     42160  Osaka
        2016 Sherry          101     13198     36756  Osaka
        2017 Bob             120     16530     38455  Osaka

In [28]:
# 統計処理
import pandas as pd

df = pd.read_csv('multi_index.csv')
print(df)

  company  year president  visitors  pruductA  productB
0  cosme1  2014     James       128     15020     39523
1  cosme1  2015       Tom       102     16102     44127
2  cosme1  2016       Tom       101     15983     48016
3  cosme1  2017     James       116     17240     50974
4  cosme2  2014    Sherry        90     13205     38309
5  cosme2  2015     James       136     14276     42160
6  cosme2  2016    Sherry       101     13198     36756
7  cosme2  2017       Bob       120     16530     38455

In [29]:
# describe
print(df.describe())

              year    visitors      pruductA      productB
count     8.000000    8.000000      8.000000      8.000000
mean   2015.500000  111.750000  15194.250000  42290.000000
std       1.195229   15.754818   1522.738769   5076.942725
min    2014.000000   90.000000  13198.000000  36756.000000
25%    2014.750000  101.000000  14008.250000  38418.500000
50%    2015.500000  109.000000  15501.500000  40841.500000
75%    2016.250000  122.000000  16209.000000  45099.250000
max    2017.000000  136.000000  17240.000000  50974.000000

In [30]:
# correlation
print(df.corr())

              year  visitors  pruductA  productB
year      1.000000  0.068278  0.605880  0.391697
visitors  0.068278  1.000000  0.250168  0.042443
pruductA  0.605880  0.250168  1.000000  0.709487
productB  0.391697  0.042443  0.709487  1.000000

In [31]:
# データの結合
import pandas as pd

df1 = pd.DataFrame({
    '名前': ['山田', '佐藤', '田中'],
    '役職': ['社長', '部長', '課長'],
    '年齢': [50, 40, 30]
})

df2 = pd.DataFrame({
    '名前': ['山田', '根本'],
    '入社年数': [10, 2]
})

In [32]:
print(df1)

   名前  年齢  役職
0  山田  50  社長
1  佐藤  40  部長
2  田中  30  課長

In [33]:
print(df2)

   入社年数  名前
0    10  山田
1     2  根本

In [35]:
print(pd.merge(df1, df2, on='名前'))

   名前  年齢  役職  入社年数
0  山田  50  社長    10

In [36]:
print(pd.merge(df1, df2, on='名前', how='outer'))

   名前    年齢   役職  入社年数
0  山田  50.0   社長  10.0
1  佐藤  40.0   部長   NaN
2  田中  30.0   課長   NaN
3  根本   NaN  NaN   2.0