In [3]:
# 列を追加する
"""
df['新しいカラム']
"""
import pandas as pd
data = {
    'fruits': ['apple', 'grape', 'orange'],
    'year': [2001, 2002, 2003],
    'time': [1, 2, 3]
}
df = pd.DataFrame(data)
print(df)

   fruits  time  year
0   apple     1  2001
1   grape     2  2002
2  orange     3  2003

In [5]:
df['price'] = [100, 200, 300]
df.index = [1, 2, 3]
print(df)

   fruits  time  year  price
1   apple     1  2001    100
2   grape     2  2002    200
3  orange     3  2003    300

In [6]:
import pandas as pd

index = ["apple", "orange", "banana", "strawberry", "kiwifruit"]
data1 = [10, 5, 8, 12, 3]
data2 = [30, 25, 12, 10, 8]

series1 = pd.Series(data1, index=index)
print(series1)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

In [7]:
series2 = pd.Series(data2, index=index)
print(series2)

apple         30
orange        25
banana        12
strawberry    10
kiwifruit      8
dtype: int64

In [9]:
df = pd.DataFrame([series1, series2])
print(df)

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

In [11]:
new_column = pd.Series([15, 7], index=[0, 1])
print(new_column)

0    15
1     7
dtype: int64

In [12]:
df['mango'] = new_column
print(df)

   apple  orange  banana  strawberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7