In [1]:
# インデックス、カラムが一致しているDataFrame同士の連結
"""
DataFrame同士を一定の方向にそのまま繋げる操作を連結という
pandas.concat('DataFrameのリスト', axis=0)
  - 先頭から順に縦方向に連結
  - 同じカラムに対して連結
pandas.concat('DataFrameのリスト', axis-1)
  - 横方向に連結
  - 同じインデックスに対して連結
"""
import pandas as pd
import numpy as np

# 指定のインデックスとカラムを持つDataFrameを乱数によって作成する関数
def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df

#インデックス、カラムが一致しているDataFrameの作成
columns = ['apple', 'banana', 'grape']
df_data1 = make_random_df(range(1, 5), columns, 0)
print(df_data1)

   apple  banana  grape
1     45      68     37
2     48      10     88
3     65      84     71
4     68      22     89

In [2]:
df_data2 = make_random_df(range(1, 5), columns, 1)
print(df_data2)

   apple  banana  grape
1     38      76     17
2     13       6      2
3     73      80     77
4     10      65     72

In [3]:
# 縦方向に連結
df1 = pd.concat([df_data1, df_data2], axis=0)
print(df1)

   apple  banana  grape
1     45      68     37
2     48      10     88
3     65      84     71
4     68      22     89
1     38      76     17
2     13       6      2
3     73      80     77
4     10      65     72

In [4]:
# 横方向に連結
df2 = pd.concat([df_data1, df_data2], axis=1)
print(df2)

   apple  banana  grape  apple  banana  grape
1     45      68     37     38      76     17
2     48      10     88     13       6      2
3     65      84     71     73      80     77
4     68      22     89     10      65     72

In [7]:
# インデックス、カラムが一致していないDataFrame同士の連結
"""
インデックスやカラムが一致指定ない行や列にNaNが生成される
"""
import pandas as pd
import numpy as np

def make_random_df(index, columns, seed):
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df

columns1 = ['apple', 'banana', 'grape']
columns2 = ['mango', 'peach', 'melon']

df_data1 = make_random_df(range(1, 5), columns1, 0)
print(df_data1)

   apple  banana  grape
1      7      19     30
2     26      85     15
3     51      12     51
4     21      29     69

In [12]:
df_data2 = make_random_df(np.arange(1, 8, 2), columns2, 1)
print(df_data2)

   mango  peach  melon
1      2      9     73
3      1     89     31
5     61     14     72
7     82     48      4

In [13]:
# 縦に連結
df1 = pd.concat([df_data1, df_data2], axis=0)
print(df1)

   apple  banana  grape  mango  melon  peach
1    7.0    19.0   30.0    NaN    NaN    NaN
2   26.0    85.0   15.0    NaN    NaN    NaN
3   51.0    12.0   51.0    NaN    NaN    NaN
4   21.0    29.0   69.0    NaN    NaN    NaN
1    NaN     NaN    NaN    2.0   73.0    9.0
3    NaN     NaN    NaN    1.0   31.0   89.0
5    NaN     NaN    NaN   61.0   72.0   14.0
7    NaN     NaN    NaN   82.0    4.0   48.0

In [14]:
# 横に連結
df2 = pd.concat([df_data1, df_data2], axis=1)
print(df2)

   apple  banana  grape  mango  peach  melon
1    7.0    19.0   30.0    2.0    9.0   73.0
2   26.0    85.0   15.0    NaN    NaN    NaN
3   51.0    12.0   51.0    1.0   89.0   31.0
4   21.0    29.0   69.0    NaN    NaN    NaN
5    NaN     NaN    NaN   61.0   14.0   72.0
7    NaN     NaN    NaN   82.0   48.0    4.0

In [16]:
# 連結する際のラベルの指定
import pandas as pd
import numpy as np

def make_random_df(index, columns, seed):
    np.random.seed(seed)
    df = pd.DataFrame()
    for column in columns:
        df[column] = np.random.choice(range(1, 101), len(index))
    df.index = index
    return df
    
columns = ['apple', 'banana', 'mango']

data1 = make_random_df(range(1, 5), columns, 0)
print(data1)

   apple  banana  mango
1     45      68     37
2     48      10     88
3     65      84     71
4     68      22     89

In [17]:
data2 = make_random_df(range(1, 5), columns, 1)
print(data2)

   apple  banana  mango
1     38      76     17
2     13       6      2
3     73      80     77
4     10      65     72

In [19]:
df = pd.concat([data1, data2], axis=1, keys=['X', 'Y'])
print(df)

      X                  Y
  apple banana mango apple banana mango
1    45     68    37    38     76    17
2    48     10    88    13      6     2
3    65     84    71    73     80    77
4    68     22    89    10     65    72

In [20]:
Y_banana = df['Y', 'banana']
print(Y_banana)

1    76
2     6
3    80
4    65
Name: (Y, banana), dtype: int64