In [1]:
# map, apply, applymap関数
# Series
"""
Series.map()
Series.array()
"""
import pandas as pd

d = pd.Series([1, 3, 5, 10], index=['A', 'B', 'C', 'D'])
print(d)

A     1
B     3
C     5
D    10
dtype: int64

In [2]:
d_plus2_apply = d.apply(lambda x: x + 2)
print(d_plus2_apply)

A     3
B     5
C     7
D    12
dtype: int64

In [3]:
print(d.map(lambda x: x * 2))

A     2
B     6
C    10
D    20
dtype: int64

In [4]:
d_DataFrame = d.apply(lambda x: pd.Series([x, x * 2], index=['col1', 'col2']))
print(d_DataFrame)

   col1  col2
A     1     2
B     3     6
C     5    10
D    10    20

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
        '役割' : ['営業', 'エンジニア', '営業', 'エンジニア'],
        '体重' : [65, 60, 55, 72],
        '身長' : [178, 173, 169, 183]
    })

#このデータを名前によってグループ分けします
grouped = df.groupby('役割')

#グループごとの平均値を求めます
print(grouped.apply(np.mean))

         体重     身長
役割
エンジニア  66.0  178.0
営業     60.0  173.5

In [13]:
# 階層型インデックス
"""
DataFrameなどで、複数の列をインデックスとして持たせる機能
階層型インデックスが必要なデータの特徴
- ユニークな列がなく、どれが実測値かわからないデータ
- いくつかのインデックスを指定して、初めて実測値が定まる
"""
import pandas as pd
import numpy as np

df1 = pd.read_csv('company.csv')
print(df1)

  company  year president  visitors  pruductA  productB
0  cosme1  2014     James       128     15020     39523
1  cosme1  2015       Tom       102     16102     44127
2  cosme1  2016       Tom       101     15983     48016
3  cosme1  2017     James       116     17240     50974
4  cosme2  2014    Sherry        90     13205     38309
5  cosme2  2015     James       136     14276     42160
6  cosme2  2016    Sherry       101     13198     36756
7  cosme2  2017       Bob       120     16530     38455

In [14]:
print(df1[(df1['company'] == 'cosme1') & (df1['president'] == 'Tom') & (df1['visitors'] == 101)])

  company  year president  visitors  pruductA  productB
2  cosme1  2016       Tom       101     15983     48016

In [15]:
multi_index = pd.read_csv('company.csv', index_col=['company', 'year', 'president'])
print(multi_index)

                        visitors  pruductA  productB
company year president
cosme1  2014 James           128     15020     39523
        2015 Tom             102     16102     44127
        2016 Tom             101     15983     48016
        2017 James           116     17240     50974
cosme2  2014 Sherry           90     13205     38309
        2015 James           136     14276     42160
        2016 Sherry          101     13198     36756
        2017 Bob             120     16530     38455

In [18]:
print(multi_index.loc[('cosme1', 2015, 'Tom')])

visitors      102
pruductA    16102
productB    44127
Name: (cosme1, 2015, Tom), dtype: int64

In [19]:
print(multi_index.loc[('cosme1')])

                visitors  pruductA  productB
year president
2014 James           128     15020     39523
2015 Tom             102     16102     44127
2016 Tom             101     15983     48016
2017 James           116     17240     50974

In [22]:
print(multi_index.loc[('cosme1', 2015)])

           visitors  pruductA  productB
president
Tom             102     16102     44127

In [23]:
multi_index.to_csv('multi_index.csv')

In [ ]:
print(pd.read_csv('multi_index.csv'))