In [12]:
import pandas as pd

# csv読み込み
df = pd.read_csv('20180307_sample.csv', encoding='cp932')
df

,ID,問い合わせ,回答,回答(修正),紐付けID
0,ID-000001,インターネットが繋がらない,再起動してください,再起動するか、店舗にお持ちください,NaN
1,ID-000002,ネットに繋がらない,Wi-Fiに接続されているか確認してください,NaN,ID-000001
2,ID-000003,画面が壊れた,店舗にお持ちください,再起動するか、店舗にお持ちください,NaN
3,ID-000004,画面にヒビが入った,修理に出してください,NaN,ID-000003
4,ID-000005,エンターが効かない,修理に出してください,NaN,NaN

In [13]:
# nanを除いた紐付けID列のみを抽出
relation_df = df.drop(['ID', '問い合わせ', '回答', '回答(修正)'], axis=1).dropna()
relation_df

       紐付けID
1  ID-000001
3  ID-000003

In [16]:
# 紐付けIDがID列に含まれていないことを確認
check_df = relation_df[~relation_df['紐付けID'].isin(df['ID'].values)]
check_df

Empty DataFrame
Columns: [紐付けID]
Index: []