In [1]:
import pandas as pd

# csv読み込み
df = pd.read_csv('20180307_sample.csv', encoding='cp932')
df

,ID,問い合わせ,回答,回答(修正),紐付けID
0,ID-000001,インターネットが繋がらない,再起動してください,再起動するか、店舗にお持ちください,NaN
1,ID-000002,ネットに繋がらない,Wi-Fiに接続されているか確認してください,NaN,ID-000001
2,ID-000003,画面が壊れた,店舗にお持ちください,再起動するか、店舗にお持ちください,NaN
3,ID-000004,画面にヒビが入った,修理に出してください,NaN,ID-000003
4,ID-000005,エンターが効かない,修理に出してください,NaN,NaN

In [2]:
def merge_answer(ds_index):
    """
    回答(修正)がNaNの場合、回答を回答(修正)に代入する
    """
    ds = ds_index.copy()
    if ds['回答(修正)'] != ds['回答(修正)']:
        ds['回答(修正)'] = ds['回答']
        
    return ds

df = df.apply(merge_answer, axis=1)
df

,ID,問い合わせ,回答,回答(修正),紐付けID
0,ID-000001,インターネットが繋がらない,再起動してください,再起動するか、店舗にお持ちください,NaN
1,ID-000002,ネットに繋がらない,Wi-Fiに接続されているか確認してください,Wi-Fiに接続されているか確認してください,ID-000001
2,ID-000003,画面が壊れた,店舗にお持ちください,再起動するか、店舗にお持ちください,NaN
3,ID-000004,画面にヒビが入った,修理に出してください,修理に出してください,ID-000003
4,ID-000005,エンターが効かない,修理に出してください,修理に出してください,NaN

In [3]:
# 「回答」は不要なのでdrop
fixed_df = df.drop(['回答'], axis=1)
fixed_df

          ID          問い合わせ                  回答(修正)      紐付けID
0  ID-000001  インターネットが繋がらない       再起動するか、店舗にお持ちください        NaN
1  ID-000002      ネットに繋がらない  Wi-Fiに接続されているか確認してください  ID-000001
2  ID-000003         画面が壊れた       再起動するか、店舗にお持ちください        NaN
3  ID-000004      画面にヒビが入った              修理に出してください  ID-000003
4  ID-000005      エンターが効かない              修理に出してください        NaN